<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="video-container">
        <video autoplay loop  id="background-video" oncanplay="this.play()" onloadedmetadata="this.muted = true" >
          <source src="https://staging.samdigitaltech.com/public/bgnew.mp4" type="video/mp4">
          </video>
      </div>    
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          
          <div class="row justify-content-center" >
            <img style="height: 50%; width:45%" src="assets/images/companylogo.png" alt="" class="img-fluid">
          </div>
          <div class="card overflow-hidden">
            <div class="bg-primary-subtle">
              <div class="row">                    
              </div>
            </div>
            <div class="card-body pt-0">
  
              <div class="p-2" style="margin-top: 30px;">
                <form class="form-horizontal" [formGroup]="sendOTPForm" (ngSubmit)="onSubmit()"> 
  
                  <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>
  
                  <div class="mb-3">
                    <label for="email">Please enter your Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email"
                      [class.is-invalid]="submitted && f.email.errors" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="mt-3 d-grid">
                    <button class="btn btn-primary" type="submit">Send OTP</button>
                  </div>
                </form>
              </div>
              <div class="mt-5 text-center" style="font-size:17px;">
                <p>Return to <a style="font-weight: 100px;" routerLink="/account/login" class="fw-medium text-warning"> Login</a> or <a style="font-weight: 100px;" routerLink="/account/signup" class="fw-medium text-warning"> Signup                    
                  </a> an account now</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- end container -->
  </div>
  <!-- end page -->
