p.efficiency-group > i {
    color: #800000 !important;
    background-color: #800000 !important;
}

p.efficiency-remaining > i {
    color: #CCC !important;
    background-color: #CCC !important;
}

p.efficiency-direct > i {
    color: #b49d17 !important;
    background-color: #b49d17 !important;
}

p.efficiency-monthly > i {
    color: #34c38f !important;
    background-color: #34c38f !important;
}