<div class="card">
    <div class="card-body">

        <form [formGroup]="form" (submit)="onSubmitHandle()">
            <div class="row mb-2">
                <div class="col-sm">
                    <label class="form-label">New Password</label>
                    <div class="input-group">
                        <input [type]="show.password ? 'text' : 'password'" class="form-control" formControlName="password" 
                            [class.border-danger]="isInvalid('password')" />
                        <button type="button" class="btn btn-primary" (click)="show.password = !show.password">
                            <i class="mdi" 
                                [class.mdi-eye-outline]="show.password"
                                [class.mdi-eye-off-outline]="!show.password"></i>
                        </button>
                    </div>
                    <div class="text-danger" *ngIf="isInvalid('password')">
                        {{ errorMessage('password', 'New Password') }}
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    <label class="form-label">Confirm New Password</label>
                    <div class="input-group">
                        <input [type]="show.confirmPassword? 'text' : 'password'" class="form-control" formControlName="confirmPassword" 
                            [class.border-danger]="isInvalid('confirmPassword')" />
                        <button type="button" class="btn btn-primary" (click)="show.confirmPassword = !show.confirmPassword">
                            <i class="mdi" 
                                [class.mdi-eye-outline]="show.confirmPassword"
                                [class.mdi-eye-off-outline]="!show.confirmPassword"></i>
                        </button>
                    </div>
                    <div class="text-danger" *ngIf="isInvalid('confirmPassword')">
                        {{ errorMessage('confirmPassword', 'Confirm New Password') }}
                    </div>
                </div>
            </div>
            <div class="row my-2 mb-3" *ngIf="false">
                <div class="col-sm">
                    <label class="form-label">Your Password</label>
                    <div class="input-group">
                        <input [type]="show.adminPassword ? 'text' : 'password'" class="form-control" formControlName="adminPassword"
                            [class.border-danger]="isInvalid('adminPassword')" />
                        <button type="button" class="btn btn-primary" (click)="show.adminPassword = !show.adminPassword">
                            <i class="mdi" 
                                [class.mdi-eye-outline]="show.adminPassword"
                                [class.mdi-eye-off-outline]="!show.adminPassword"></i>
                        </button>
                    </div>
                    <div class="text-danger" *ngIf="isInvalid('adminPassword')">
                        {{ errorMessage('adminPassword', 'Your Password') }}
                    </div>
                </div>
            </div>
            <div class="row my-4 mx-5">
                <div class="col-sm">
                    <ngx-recaptcha2 
                        [siteKey]="captchaKey"
                        (reset)="handleReset()"
                        (expire)="handleExpire()"
                        (load)="handleLoad()"
                        (success)="handleSuccess($event)"
                        formControlName="captcha">
                    </ngx-recaptcha2>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid || submitting">
                        <div class="spinner-border spinner-border-sm text-info mx-3" style="text-align:center;" role="status" *ngIf="submitting">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <span *ngIf="!submitting">
                            Submit
                        </span>
                    </button>
                </div>
            </div>
        </form>
        
    </div>
</div>